@font-face {
	font-family: 'baloo2';
	src: url(../fonte/baloo-2/Baloo2-Bold.ttf);
}

*{
	padding: 0;
	margin: 0;
	padding: 0;
	box-shadow: border-box;
	font-family: 'baloo2';
}

.fundo1{
	background-image: url(../img/fundo1.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 780px;
}

.texto{
	width: 400px;
	height: 150px;
	margin-left: 80px;
}

.titulo{
	background: linear-gradient(to bottom,#F8005A,#6C35DB);
	color: transparent;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 60px;
	margin-top: 180px;
}

.descricao{
	color: #393939;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	text-align: start;
}

.botao1{
	width: 280px;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to left,#6C35DB, #F8005A);
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.5s;
	border: 0;
}

.botao1:hover{
	background: linear-gradient(to bottom,#F8005A,#6C35DB);
    border: 1px solid #fff;
	transform: scale(1.1, 1.1);
}

.cartao{
	margin-top: -380px;
	margin-left: 600px;
}











