* {
	padding: 0;
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

.fundo2{
	background-image: url(../img/fundo2.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    flex-direction: column;
	height: 350px;
}

.titulo1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

.quadrados{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.quadrado1{
    border-radius: 10px;
    background: linear-gradient( #16141D,  #16141D) padding-box, linear-gradient(to right, #6c35db, #0cf2c8) border-box;
    border: 3px solid transparent;
    width: 250px;
    height: 150px;
}

.quadrado1_texto{
    color: #fff;
    margin-top: 40px;
}

.quadrado2{
    border-radius: 10px;
    background: linear-gradient( #16141D,  #16141D) padding-box, linear-gradient(to right, #6c35db, #0cf2c8) border-box;
    border: 3px solid transparent;
    width: 250px;
    height: 150px;
}

.quadrado2_texto{
    color: #fff;
    margin-top: 40px;
}

.quadrado3{
    border-radius: 10px;
    background: linear-gradient( #16141D,  #16141D) padding-box, linear-gradient(to right, #6c35db, #0cf2c8) border-box;
    border: 3px solid transparent;
    width: 250px;
    height: 150px;
}

.quadrado3_texto{
    color: #fff;
    margin-top: 40px;
}

.quadrado4{
    border-radius: 10px;
    background: linear-gradient( #16141D,  #16141D) padding-box, linear-gradient(to right, #6c35db, #0cf2c8) border-box;
    border: 3px solid transparent;
    width: 250px;
    height: 150px;
}

.quadrado4_texto{
    color: #fff;
    margin-top: 50px;
}