* {
	padding: 0;
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

.fundo_sobre{
	background-image: url(../img/fundo1.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 780px;
}

.logo{
	width: 100px;
	height: 100px;
	display: flex;
	margin-left: 100px;
	margin-top: 20px;
	cursor: pointer;
}

.texto{
	width: 300px;
	height: 150px;
}

.titulo{
	background: linear-gradient(to bottom,#F8005A,#6C35DB);
	color: transparent;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 60px;
	margin-top: 200px;
}


.menu{
	list-style: none;
	display: flex;
	margin-left: 200px;
	margin-top: 50px;
}

.botao2{
	width: 200px;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
	background-color: #16141D;
	cursor: pointer;
	margin-left: 30px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.5s;
	font-size: 18px;
}

.botao2:hover{
	border: 2px solid #000;
	background-color: #fff;
	color: #000;
}

.botao2:active{
	border: 2px solid #fff;
	color: #fff;
	background-color: #16141D;
}

.hamburguer{
	margin-left: 20px;
	margin-top: 5px;
	cursor: pointer;
}

.hamburguer img{
	width: 60px;
	height: 40px;
}